<!-- <p id="notice"><%= notice %></p> -->
<div class="property-main-photo" style="background-image:url('<%= property_photo_url @properties.last %>') ">
  <div class="photo-overlay"> 
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-lg-5">
          <p class="h4 mb-0"><%= @account.full_name %></p>
          <p class="mb-2"><%= @account.company%></p>
          <p class="h2 mb-3">
          </p>
        </div>
        <div class="col-lg-7 text-center">
          <div class="row  mt-sm-3 bg-light p-3">

            <div class="col-3">
              <i class="fa fa-bed text-muted"></i></br>
              <small><%= @properties_sold%> Sold</small>
            </div>

             <div class="col-3">
              <i class="fa fa-car text-muted"></i></br>
              <small><%= @properties_for_sale %> For Sale</small> 
            </div>

            <div class="col-3">
              <i class="fa fa-bath text-muted"></i></br>
              <small><%= @properties_leased%> Leased</small>
            </div>

            <div class="col-3">
              <i class="fa fa-car text-muted"></i></br>
              <small><%= @properties_for_rent %> For Rent</small> 
            </div>

          </div>
        </div>
      </div>

    <div class="row border-top mt-5 pt-4">
      <div class="col">
        <p class="h5"> Description</p>
 
        <div id="prop-details">
          <%= simple_format @account.details %>
        </div>

        <button class="btn btn-outline-info mt3" id="toggleDetails">Show More</button>


      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= render "properties/profile_contact_details", agent: @account%> 

  </div>
</div>
</div>  


<section id="latest-properties" class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">  
        <p class="h3 mb-3">Current listings by this agent</p>
      </div>
      <%= render "properties/list", properties: @properties %>
    </div>
  </div>
</section>

<%= render "properties/send_email_modal", agent: @account %>

